{% extends 'base.html' %}
{% block content %}
  <!-- Items -->
  
  <section>

    <form method="POST">
      {% csrf_token %} 
      <br>
      <div class="row">
        <div class="col-6">
          <img src="{{item.image}}" alt="" width="300" height="240">
          <input type="hidden" name="image" value="{{item.image}}">
          <input type="hidden" name="user_id" value="{{ ip }}">
        </div>
        <div class="col-6">
          <h4>{{item.item_name}}</h4>
          <input type="hidden" name="item_name" value="{{item.item_name }}">
          <h5>Price</h5>
          <p>{{item.price}} SDG</p>
          <input type="hidden" name="price" value="{{item.price}}">
          <input type="hidden" name="category" value="{{item.category}}">
          <h5>Sizes</h5>

          <select class="browser-default custom-select" name="colors" required>
            <option value=""></option>
            <option value="Black">Black</option>
            <option value="Blue">Blue</option>
            <option value="Brown">Brown</option>
          </select>
          <br><br>
          <h5>Colors</h5>
          <select class="browser-default custom-select" name="sizes" required>
            <option value=""></option>
            <option value="One to Two years">One to Two years</option>
            <option value="Two to Three years">Two to Three years</option>
            <option value="Three to Four years">Three to Four years</option>
          </select>
          <br><br>
          <h5>Amount</h5>
          <select class="browser-default custom-select" name="amount" required>
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <br><br>
          <h5>Description</h5>
          <p>{{item.description}}</p>
          <button class="btn btn-outline-success" type="submit">Add to Cart</button>
        </div>
      </div>
      <hr>
      
    </form>

  </section>

{%endblock%}